* { margin:0; padding:0; box-sizing:border-box; }

body {
    width: 100%;
    font-family: "Avenir", sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15%;
    padding-right: 15%;
}


h1{
    font-family: "Avenir", sans-serif;
    text-align: left;
    font-size: 30px;
}


nav li{
    display: inline-block;
    font-size: 20px;
    padding-right: 10px;
    font-family: "Avenir", sans-serif;
}


p {
    font-family: "Avenir", sans-serif;
    font-size: 20px;
    margin: 0px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.row{
    display: flex;
    flex-direction: row;
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover{
    color: #7C38F2;
}

a:active{
    color: #7C38F2;
}

.alignleft {
    float:left;
}

.alignright {
	float: right;
}

.intro {
    padding-top: 40px;
    padding-bottom: 20px;
}

.intro2 {
    padding-bottom: 20px;
}

.intro2 p{
    font-size: 25px;
}

.intro p {
    font-size: 50px ;
    font-family: "Avenir Heavy", sans-serif;
}


.gallery {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    
}

img {
    max-width: 100%;
    height: auto;
    padding-bottom: 30px;
    padding-right: 30px;
}

.tag p {
    font-size: 18px;
    color: #7C38F2;
    font-family: 'Avenir Heavy';
    padding-bottom: 10px;
    padding-top: 30px;
}

.newtag p {
    font-size: 25px;
    color: #7C38F2;
    font-family: 'Avenir Heavy';
    padding-bottom: 10px;
    padding-top: 20px;
}

.button p{
    font-size: 15px;
    color: #7C38F2;
    padding-left: 45px;
    padding-top: 10px;
}

.button {
    display: inline-block;
    border: solid;
    border-color: #7C38F2;
    border-width: 1px;
}
.title p {
    font-size: 40px;
    font-family: "Avenir Heavy", sans-serif;
    padding-bottom: 20px;
}

.title2 p {
    font-size: 40px;
    font-family: "Avenir Heavy", sans-serif;
    padding-top: 50px;
}

.small p {
    font-size: 18px;
}

.narrow {
    padding-left: 100px;
    padding-right: 100px;
}

.list {
    padding-left: 20px;
}

.list1 {
    padding-left: 20px;
    padding-bottom: 20px;
}


.row2{
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}

.row2 a:link{
    text-decoration: none;
    color: black;
    font-family: 'Avenir Heavy';
}

.row2 a:visited{
    text-decoration: none;
    color: black;
    font-family: 'Avenir Heavy';
}

.row2 a:hover{
    text-decoration: none;
    color: #7C38F2;
    font-family: 'Avenir Heavy';
}

.space {
    padding-bottom: 20px;
}

.longspace {
    padding-bottom: 50px;
}

.center {
    padding-left: 18%;
}

.new_spacing {
    padding: 0;
    margin: 0;
}

.first {
    width: 80%;
}


.second {
    width: 100%;
}

.current_page {
    border-bottom: solid;
    border-color: #7C38F2;
    background-color: white;
    padding: 5px;
    border-width: 5px;
}

@media (max-width: 1205px) {
    .row2 img{
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 600px) {
    body {
        width: 100%;
        font-family: "Avenir", sans-serif;
        padding-top: 30px;
        padding-bottom: 50px;
        padding-left: 5%;
        padding-right: 5%;
    }

    body p {
       margin-left: 18px;
    }

    h1{
        font-family: "Avenir", sans-serif;
        text-align: left;
        font-size: 20px;
    }

    .gallery {
        display: block;
        
    }

    p {
        font-family: "Avenir", sans-serif;
        font-size: 15px;
        margin: 0px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .row2{
        display: block;
        flex-direction: column-reverse;

    }

    .row2 img{
        margin-left: 20%;
    }

    .row{
        display: block;
    }


    .intro p {
        font-size: 75px ;
        font-family: "Avenir Heavy", sans-serif;
    }

    .alignleft img {
        max-width: 70%;
        padding-bottom: 0px;
        padding-right: 2px;
        padding-left: 18px;
    }

    .alignright li {
        font-size: 15px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 3px;
    }

    .current_page {
        border-width: 2px;
        padding: 0px;
    }


    img {
        max-width: 100%;
        height: auto;
        padding-bottom: 30px;
        padding-right: 30px;
    }

    .narrow {
        padding-left: 10px;
        padding-right: 10px;
    }


  }

