* { margin:0; padding:0; box-sizing:border-box; }

body {
    width: 100%;
    font-family: "Avenir", sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15%;
    padding-right: 15%;
}


h1{
    font-family: "Avenir", sans-serif;
    text-align: left;
    font-size: 30px;
}

table, td, th {
    padding: 10px;
    border: 2px solid black;
    border-collapse: collapse;
}

table p {
    font-size: 17px;
}

table td {
    vertical-align: top;
}


nav li{
    display: inline-block;
    font-size: 20px;

    padding-right: 15px;
    font-family: "Avenir", sans-serif;
}


p {
    font-family: "Avenir", sans-serif;
    font-size: 20px;
    margin: 0px;
}

.row{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}


a:link{
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover{
    color: #7C38F2;
}

a:active{
    color: #7C38F2;
}

.alignleft {
    float:left;
}

.alignright {
	float: right;
}

.intro {
    padding-top: 50px;
    padding-bottom: 5px;
}

.intro2 {
    padding-top: 15px;
    padding-bottom: 25px;
}

.intro2 p{
    font-size: 35px;
}

.intro p {
    font-size: 60px ;
    font-family: "Avenir Heavy", sans-serif;
}


.gallery {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    
}

img {
    max-width: 100%;
    height: auto;
    padding-bottom: 0px;
    padding-right: 0px;
}

.img_home {
    max-width: 100%;
    height: auto;
    padding-bottom: 30px;
    padding-right: 30px;
}

.img_cap {
    max-width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 30px;
}

.img_center {
    max-width: 100%;
    height: auto;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 10%;
}

.img_footer {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    padding-top: 10px;
  }

  
.img_paddingr {
    max-width: 100%;
    height: auto;
    padding-bottom: 00px;
    padding-right: 30px;
}


.img_paddingl {
    max-width: 100%;
    height: auto;
    padding-left: 10px;
}

.img_paddingt {
    max-width: 100%;
    height: auto;
    padding-top: 10px;
    padding-right: 10px;
}

.img_paddingb2 {
    max-width: 100%;
    height: auto;
    padding-bottom: 25px;
    padding-right: 0px;
}


.tag p {
    font-size: 18px;
    color: #7C38F2;
    font-family: 'Avenir Heavy', sans-serif;
    padding-bottom: 10px;
    padding-top: 30px;
}

.newtag p {
    font-size: 33px;
    color: #7C38F2;
    font-family: 'Avenir Heavy', sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
}

.button p{
    font-size: 15px;
    color: #7C38F2;
    padding-left: 20px;
    padding-top: 7px;
    padding-right: 20px;
    padding-bottom: 7px;
    font-weight: 600;
}

.button {
    display: inline-block;
    border: solid;
    border-color: #7C38F2;
    border-width: 2px;
    border-radius: 10px;
    background-color: whitek;
}
.title p {
    font-size: 40px;
    font-family: "Avenir Heavy", sans-serif;
    padding-bottom: 20px;
}

.title_white {
    width: 200px;
    padding-right: 50px;
}

.title_width {
    padding-top: 60px;
    padding-bottom: 10px;
}

.title_width2 {
    padding-top: 10px;
    width: 100%;
}

.title_width3 {
    padding-left: 0px;
}

.title_width4 {
    padding-top: 35px;
    width: 100%;
}

.width {
    width: 1500px;
}

.title_white p {
    font-size: 40px;
    font-family: "Avenir Heavy", sans-serif;
    padding-bottom: 10px;
}

.title2 p {
    font-size: 40px;
    font-family: "Avenir Heavy", sans-serif;
    padding-top: 50px;
}

.small p {
    font-size: 18px;
}

.narrow {
    padding-left: 100px;
    padding-right: 100px;
}


.list {
    padding-left: 20px;
}

.list p {
    padding-bottom: 10px;
}

.list1 {
    padding-left: 20px;
    padding-bottom: 20px;
}

.list_style {
    padding-bottom: 10px;
}

.row2{
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}

.row2_reverse{
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}

.row3{
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}

.linked{
    padding-top: px;
}

.row2 a:link{
    text-decoration: none;
    color: black;
    font-family: 'Avenir Heavy', sans-serif;
}

.row2 a:visited{
    text-decoration: none;
    color: black;
    font-family: 'Avenir Heavy', sans-serif;
}

.row2 a:hover{
    text-decoration: none;
    color: #7C38F2;
    font-family: 'Avenir Heavy', sans-serif;
}

.row2_reverse a:link{
    text-decoration: none;
    color: black;
    font-family: 'Avenir Heavy', sans-serif;
}

.row2_reverse a:visited{
    text-decoration: none;
    color: black;
    font-family: 'Avenir Heavy', sans-serif;
}

.row2_reverse a:hover{
    text-decoration: none;
    color: #7C38F2;
    font-family: 'Avenir Heavy', sans-serif;
}

.linked a:link{
    text-decoration: none;
    color: black;
    font-family: 'Avenir Heavy', sans-serif;
}

.linked a:visited{
    text-decoration: none;
    color: black;
    font-family: 'Avenir Heavy', sans-serif;
}

.linked a:hover{
    text-decoration: none;
    color: #7C38F2;
    font-family: 'Avenir Heavy', sans-serif;
}

.space {
    padding-bottom: 20px;
}

.longspace {
    padding-bottom: 50px;
}

.smallspace {
    padding-bottom: 5px;
}

.center {
    padding-left: 18%;
}

.center2 {
    margin: auto;
    width: 50%;
}

.center2 p{
    font-size: 14px;
    text-align: center;
}


.pushleft{
    padding-top: 30px;
    margin: auto;
    width: 100%;
}



.new_spacing {
    padding: 0;
    margin: 0;
}

.first {
    width: 80%;
}


.second {
    width: 100%;
    padding-left: 7px;
}

.small {
    padding: 0px;
}


.current_page {
    border-bottom: solid;
    border-color: #7C38F2;
    background-color: white;
    padding: 5px;
    border-width: 5px;
}


.row2 img{
    height: 300px;
    width: 310px;
}

.row2_reverse img{
    height: 300px;
    width: 310px;
}


@media (max-width: 600px) {

    body {
        width: 100%;
        font-family: "Avenir", sans-serif;
        padding-top: 20px;
        padding-bottom: 50px;
        padding-left: 0%;
        padding-right: 1%;
        margin: 0px;
    }

    .bar{
        padding-left: 8%;
        padding-right: 7%;
    }

    
    body p {
       margin-left: 18px;
    }

    h1{
        font-family: "Avenir", sans-serif;
        text-align: left;
        font-size: 20px;
    }

    .gallery {
        display: block;
        
    }

    p {
        font-family: "Avenir", sans-serif;
        font-size: 15px;
        margin: 0px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .narrow p {
        padding-left: 13px;
    }

    .row {
        padding-left: 7px;
    }

    .row2{
        display: block;
        flex-direction: column-reverse;

    }

    .row2_reverse{
        display: block;
        flex-direction: column-reverse;

    }

    .first {
        width: 100%;
    }

    .row2 img{
        margin-left: 10%;
        width: 70%;
    }

    .row2_reverse img{
        margin-left: 10%;
        width: 70%;
    }

    .row{
        display: block;
        padding-right: 0px;
    }

    .intro p {
        font-size: 40px ;
        font-family: "Avenir", sans-serif;
        font-weight: 500;
    }

    .intro2 p {
        font-size: 25px ;
        
    }

    .intro {
        padding-top: 30px;
        padding-bottom: 0px;
        padding-left: 5px;
    }
    
    .intro2 {
        padding-top: 0px;
        padding-bottom: 10px;
        padding-left: 7px;
    }

    .space {
        padding-bottom: 10px;
    }

    .nav {
        text-align: right;
    }

    .alignleft img {
        max-width: 100%;
        padding-bottom: 0px;
        padding-right: 0px;
        padding-left: 25px;
        padding-top: 0px;
    }

    .alignleft li{
        width: 200px;
    }

    .alignright li {
        font-size: 11px;
        padding-top: 0px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 5px;
        text-align: left;
    }

    .alignright {
        margin-right: 20px;
    }
    .current_page {
        border-width: 2px;
        padding: 0px;
    }

    img {
        max-width: 100%;
        height: auto;
        padding-left: 5%;
    }


    iframe {
        width: 100%;
        height: 300px";
    }

    .button {
        padding-right: 20px;
        margin-left: 4%;
        margin-bottom: 60px;
    }

    .button p{
        font-weight: 1000;
    }

    .narrow {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .small2 {
        margin-left: 5%;
    }

    .center {
        padding-left: 18%;
    }
    
    .center2 {
        margin: auto;
        width: 90%;
    }
    
    
    .img_footer{
        padding-right: 25px;
    }

    .small p {
        font-size: 13px;
        font-weight: 400;
    }

    .newtag p {
        padding-top: 0px;
        font-family: "Avenir", sans-serif;
        font-weight: 500;
    }

    .title_width2 {
        padding-top: 10px;
        width: 50%;
    }



    .title_width4 {
        padding-top: 30px;
        width: 93%;
    }

    .width {
        width: 400px;
    }


    .row2_reverse{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 40px;
    }

    .row2_reverse img{
        height: 300px;
        width: 310px;
        margin-left: 38px;
        margin-bottom: 30px;
    }

    .table_style {
        width: 350px;
        padding-left: 30px;
    }

    .table_style p{
        font-size: 5px;
        padding: 0px;
        padding-left: 0px;
        margin: 0px;
    }

    .list {
        padding-left: 1px;
        padding-bottom: 3px;
    }

    ul{ list-style: none; }

  }


  
